# Agrarian structure in three colombian sub-regions: North Cauca, Tequendama, and south Atlántico

## Main libraries

In [3]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Initial setup

In [32]:
## Cauca datasets
ncupa_df = pd.read_csv('upa_nc_cna2014.csv', sep = ';')
ncrops_df = pd.read_csv('cultivos_nc_cna2014.csv', sep = ';')

ncupa_df.head()

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,COD_PARQUE,PRED_ETNICA,P_S3P9,...,P_S12P145,P_S12P146,P_S12P147,P_S12P148,P_S12P149,P_S12P150A,P_S15P158,P_S15P158A,P_S15P158B,TIPO_UC
0,1,170,19,19110,0,1165708,19110001,NaN,7,1,...,522.099601,103.266835,0.000000,0.000000,0.0,2.288153e+04,1,1,5,1
1,1,170,19,19110,0,1820547,19110035,NaN,6,1,...,356210.900590,817671.667640,0.000000,55.526975,0.0,1.384584e+06,0,0,0,1
2,1,170,19,19110,0,2047350,19698026,NaN,7,1,...,702.829939,0.000000,0.000000,22.247410,0.0,1.525371e+04,1,1,2,1
3,1,170,19,19110,0,2047483,19110037,NaN,2,1,...,9475.427917,2723.915020,23.799664,21.213124,0.0,3.091238e+04,1,1,4,1
4,1,170,19,19110,0,2048796,19110045,NaN,7,1,...,210.789970,0.000000,0.000000,0.000000,0.0,3.805378e+03,1,1,3,1

In [35]:
ncupa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43850 entries, 0 to 43849
Columns: 379 entries, TIPO_REG to TIPO_UC
dtypes: float64(330), int64(49)
memory usage: 126.8 MB

In [9]:
## Tequendama datasets
tqupa_df = pd.read_csv('upa_tq_cna2014.csv', sep = ';')
tqcrops_df = pd.read_csv('cultivos_tq_cna2014.csv', sep = ';')

tqcrops_df.head()

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,P_S6P45B,P_S6P45A,P_S6P46,...,P_S6P50,P_S6P51_SP1,P_S6P51_SP2,P_S6P51_SP3,P_S6P53,P_S6P57A,P_S6P59_UNIF,P_S6P60,AREA_SEMBRADA,AREA_COSECHADA
0,4,170,25,25035,10000,83146534,25245031,1,2,9999999901,...,3.0,NaN,1.0,NaN,NaN,0.001184,0.335816,NaN,0.003526,0.003526
1,4,170,25,25035,10000,83150114,25035019,1,1,131901001,...,2.0,NaN,1.0,NaN,NaN,0.027187,1.914366,12.0,0.014201,0.014201
2,4,170,25,25035,10000,83150114,25035019,1,1,132401001,...,2.0,NaN,1.0,NaN,NaN,0.214324,15.091752,12.0,0.014201,0.014201
3,4,170,25,25035,10000,83150114,25035019,2,1,192908001,...,NaN,NaN,NaN,NaN,NaN,0.198510,0.925533,NaN,0.214482,0.214482
4,4,170,25,25035,10001,60460899,25035022,1,1,132301002,...,NaN,NaN,NaN,NaN,NaN,3.232922,11.554133,NaN,0.279807,0.279807

In [13]:
## South Atlántico datasets
saupa_df = pd.read_csv('upa_sa_cna2014.csv', sep = ';')
sacrops_df = pd.read_csv('cultivos_sa_cna2014.csv', sep = ';')

saupa_df.head()

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,COD_PARQUE,PRED_ETNICA,P_S3P9,...,P_S12P145,P_S12P146,P_S12P147,P_S12P148,P_S12P149,P_S12P150A,P_S15P158,P_S15P158A,P_S15P158B,TIPO_UC
0,1,170,8,8137,10001,40069408,8137003,NaN,6,1,...,24405.823268,31332.287433,482.835162,0.0,0.0,86868.767802,1,2,2,1
1,1,170,8,8137,20001,40068730,8137003,NaN,7,2,...,0.000000,0.000000,0.000000,0.0,0.0,80200.784833,0,0,0,1
2,1,170,8,8137,20776,40068736,8137003,NaN,7,1,...,14991.820241,0.000000,0.000000,0.0,0.0,77099.497927,0,0,0,1
3,1,170,8,8137,30001,48818,8137003,NaN,7,2,...,0.000000,0.000000,0.000000,0.0,0.0,43957.735393,0,0,0,1
4,1,170,8,8137,30001,40068729,8137003,NaN,7,1,...,2463.913963,0.000000,0.000000,0.0,0.0,42100.098103,0,0,0,1

In [37]:
# Adding 'municipios' variable
ncupa_df['municipio'] = ncupa_df['P_MUNIC'].replace([19110, 19137, 19142, 19212, 19300, 19364, 19455, 19513, 19573, 19698, 19780, 19821, 19845], ['Buenos Aires', 'Caldono', 'Caloto', 'Corinto', 'Guachené', 'Jambaló', 'Miranda', 'Padilla', 'Puerto Tejada', 'Santander de Quilichao', 'Suárez', 'Toribio', 'Villa Rica'])
ncrops_df['municipio'] = ncrops_df['P_MUNIC'].replace([19110, 19137, 19142, 19212, 19300, 19364, 19455, 19513, 19573, 19698, 19780, 19821, 19845], ['Buenos Aires', 'Caldono', 'Caloto', 'Corinto', 'Guachené', 'Jambaló', 'Miranda', 'Padilla', 'Puerto Tejada', 'Santander de Quilichao', 'Suárez', 'Toribio', 'Villa Rica'])
tqupa_df['municipio'] = tqupa_df['P_MUNIC'].replace([19110, 19137, 19142, 19212, 19300, 19364, 19455, 19513, 19573, 19698, 19780, 19821, 19845], ['Buenos Aires', 'Caldono', 'Caloto', 'Corinto', 'Guachené', 'Jambaló', 'Miranda', 'Padilla', 'Puerto Tejada', 'Santander de Quilichao', 'Suárez', 'Toribio', 'Villa Rica'])
tqcrops_df['municipio'] = tqcrops_df['P_MUNIC'].replace([19110, 19137, 19142, 19212, 19300, 19364, 19455, 19513, 19573, 19698, 19780, 19821, 19845], ['Buenos Aires', 'Caldono', 'Caloto', 'Corinto', 'Guachené', 'Jambaló', 'Miranda', 'Padilla', 'Puerto Tejada', 'Santander de Quilichao', 'Suárez', 'Toribio', 'Villa Rica'])
saupa_df['municipio'] = saupa_df['P_MUNIC'].replace([19110, 19137, 19142, 19212, 19300, 19364, 19455, 19513, 19573, 19698, 19780, 19821, 19845], ['Buenos Aires', 'Caldono', 'Caloto', 'Corinto', 'Guachené', 'Jambaló', 'Miranda', 'Padilla', 'Puerto Tejada', 'Santander de Quilichao', 'Suárez', 'Toribio', 'Villa Rica'])
sacrops_df['municipio'] = sacrops_df['P_MUNIC'].replace([19110, 19137, 19142, 19212, 19300, 19364, 19455, 19513, 19573, 19698, 19780, 19821, 19845], ['Buenos Aires', 'Caldono', 'Caloto', 'Corinto', 'Guachené', 'Jambaló', 'Miranda', 'Padilla', 'Puerto Tejada', 'Santander de Quilichao', 'Suárez', 'Toribio', 'Villa Rica'])